*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
header{
    background-color: rgb(34, 34, 34);
    font-size: 1.6rem;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

nav .main-nav{ 
    margin: 1rem;
}
nav .main-nav li {
    display: inline-block;
    margin: 0 5px;
}
.logo{
    width: 100px;
}
main{
    min-height: 80vh;
    font-size: 1.6rem;
    display: flex;
    flex-grow: 1;
}
aside{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 80vh;
    justify-content: space-evenly;
    background-color: slategray;
    align-items: center;
}
.box{
    border: .3rem solid black;
    border-radius: .5rem;
    width: 8rem;
}
.box img{
    width: 100%;
}
p{
    margin: 1rem;
}
footer{
    font-size: 1.6rem;
    padding: 1rem;
    background-color: rgb(34, 34, 34);
    color: snow;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .redes-sociales-nav li{
    display: inline-block;
    margin: 0 5px;
}
